
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" href="../bitbug_favicon.ico">
    <!-- Bootstrap 样式表 -->
    <link href="../cpnts/bootstrap-4.0.0/css/bootstrap.css" rel="stylesheet">
    <!-- 当前页面用到的自定义样式表 -->
    <link href="../styles/login.css" rel="stylesheet">
</head>
<body class="text-center">
		<form class="form-signin">

		<h3> <img src="../images/login/register-L (2).png" height="48" width="48">注 册</h3>
		<div class="input-group">
			<div class="input-group-prepend">
			<img src="../images/login/register1.png" height="32" width="32" class="inpyt">
			</div>
	        <input type="text" v-model="userName" id="user" class="form-control mb-3" placeholder="请输入手机号/用户名" required autofocus />
      	</div>
      	<div class="input-group">
			<div class="input-group-prepend" height="40" width="40">
			<img src="../images/login/register2.png" height="32" width="32">
			</div>
	        <input type="password" v-model="password" id="password" class="form-control" placeholder="请输入密码" required />
  		</div>
  		 <div class="input-group">
			<div class="input-group-prepend" style="width:32px;height:32px;" >
			</div>
	        <input type="password" v-model="password" id="password" class="form-control" placeholder="请再次确认密码" required />
  		</div>
  		 <div class="input-group" >
			<div class="input-group-prepend" style="width:32px;height:32px;" >
			</div>
	  	 	<label for="academy" class="sr-only">学院</label>
	        <select class="academy" id="academy">
	        	<option>管理学院</option>
	        </select>
  		</div>
		 <div v-if="hasError" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      	</div>

		<button class="btn btn-lg btn-primary btn-block" type="button" v-on:click="login">注 册</button>
	</form>
	<script src="../cpnts/vue-2.5.16/vue.min-2.5.16.js"></script>
    <script src="../utils/qwest.min.js"></script>
    <script src="../scripts/login.js"></script>
</body>
</html>