.top-title{
	background-color: #1296db;
	height: 50px;
	line-height: 50px;
}
.search_input{
	width:70%;!important
	display:inline;
	vertical-align: middle;
}
.btn{
	 margin-top:0;
	 display:inline;
}
.list-group-item{
	border:1px solid;
    border-color:#EBF5FB;
    border-width:1px 0;
    color:black;
}